<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Left</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/teach001">
                    1. John + Doe=John Doe
                </ion-item>
                <ion-item menu-close href="#/app/teach002">
                    2. 遞迴產生元素
                </ion-item>
                <ion-item menu-close href="#/app/teach003">
                    3. 取得後端資料
                </ion-item>
                <ion-item menu-close href="#/app/teach004">
                    4. 如何應用Ionic CSS
                </ion-item>
                <ion-item menu-close href="#/app/teach005">
                    5. 使用jquery
                </ion-item>
                <ion-item menu-close href="#/app/teach006">
                    6. Factory和Service
                </ion-item>
                <ion-item menu-close href="#/app/teach007">
                    7. report和摺疊清單
                </ion-item>
                <ion-item menu-close href="#/app/teach008">
                    8. Table和scrolling
                </ion-item>
                <ion-item menu-close href="#/app/teach009">
                    9. FlexTable
                </ion-item>
                <ion-item menu-close href="#/app/WebSocketClient">
                    A. WebSocket
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>