<link href="css/style.css" type="text/css" rel="stylesheet" />
<ion-view class="back">
    <!--header-->
    <ion-header-bar align-title="center" class="bar bar-header bar-dark">
        <a class="button icon ion-chevron-left" ng-click="Back()">返回</a>
        <h1 class="title">報到牌</h1>
        <button ng-click="Next()"  class="button icon ion-chevron-right icon-right" ng-disabled="data.IsDisabled">下一步</button><!---->
    </ion-header-bar>
    <!--subheader-->
    <div class="bar bar-subheader con_back">
        <label class="item-input con_back">
            <span class="input-label con_back">報到牌</span>
            <input id="txb_CarNo" type="text" class=" ion ion-search" ng-model="data.CarNo" ng-enter="search()" style="width:120px"  focus-me>
        </label>
        <button class="button button-assertive icon ion-close" ng-click="reset()"></button>
        <a class="button button-calm icon ion-search" ng-click="search()"></a>
    </div>
    <ion-content class="has-header has-subheader has-footer" on-swipe-right="Back()" on-swipe-left="Next()" on-swipe-up="QueryPaperDetail()" >
        <ul class="list list-inset con_back "  ng-show="!data.IsDisabled"> <!---->
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">狀態</span>
                <label class="input-label" ng-style="{color: data.viewColor}">{{result.ROW10}}</label>
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">物流公司</span>{{result.TRAN_NAME}}
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">報到車牌</span>{{result.VEHICLE_NO}} {{result.VEHICLE_DRIVER}}
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">指派碼頭</span>{{result.DOCK_NAME}}
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">冷凍溫度</span>{{result.VEHICLE_TEMP0}}
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">冷藏溫度</span>{{result.VEHICLE_TEMP1}}
            </li>
            <li class="item item-input-inset con_back">
                <span class="input-label con_back">溫控溫度</span>{{result.VEHICLE_TEMP2}}
            </li>
        </ul>
    </ion-content>
    <ion-footer-bar class="bar bar-footer con_back" align-title="right">
        <!--<button class="button button-royal" ng-click="QueryPaperDetail()">
            <i class="ion-android-list"></i>
            <span>明細</span>
        </button>-->
        <h1 class="title" style="font-size:small;color:#FFFF37;">區域：{{BLOCK_uiselect }}</h1>
    </ion-footer-bar>
</ion-view>
